<div class="container-fluid">
<div class = "Uberlogo">
	<img src = "/assets/logo-dark.png">
</div>


<div class="input">
<%= form_for(@UberCoordinate, url: 'uber_coordinates/create', method: 'post') do |f| %>
Location:
<%= f.text_field :location, :class => "signinfield" %>
<%= f.submit "Submit" %>
<% end %>
</div>

<div class= "table-class">
<% if @list %>
    <table class="table table-striped table-bordered" border = "3">

    <% @list.each do |data| %>
	    <tr>
	    	<td><%=data.location%></td>
	    	<td><%=data.latitude%></td>
	    	<td><%=data.longitude%></td>
	    	<% data.vehicles.each do |vehicle| %>
	    		<td><%=vehicle.product%></td>
	    		<td><%=vehicle.eta%></td>
	    		<td><%=vehicle.surge%></td>
	    	<% end %>
	    </tr>
    <% end %>
    
    </table>
	
	<%= will_paginate @list %>
<% end %> 
</div>
</div>